<?xml version="1.0"?>
<ConfigItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MappingGroups>
    <Group name="Advertisement">
      <Mappings>
        <Mapping methodName="GetAllMediaReport" cacheKey="Advertisement_GetAllMediaReport" cacheTime="30"   isEnabled="true"/>
        <Mapping methodName="GetApplicationRecommendInfoList" cacheKey="Advertisement_GetApplicationRecommendInfoList_Top{0}" cacheTime="30"   isEnabled="true"/>
      </Mappings>
    </Group>
  </MappingGroups>
</ConfigItem>