<?xml version="1.0" encoding="utf-8" ?>
<ConfigItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MessageCodes>
    <!--Basic Module 1 -->
    <MessageCode name="100001" value="传入对象不能为空！" />
    <MessageCode name="100002" value="密码不能为空！" />  
    
    <!--用户从2开始-->
    <MessageCode name="200001" value="登录名不能为空！" />

    <!-- 医院从3开始-->
    
    <!--文献从4开始-->
    
    <!--后台从5开始  -->
    
  </MessageCodes>
</ConfigItem>