<?xml version="1.0" encoding="utf-8" ?>
<ConfigItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ConnectionStrings>
    <ConnectionString name="InstantMessaging"  value="mongodb://192.168.0.228/InstantMessaging"/>
    <ConnectionString name="LoggingLibrary"  value="mongodb://192.168.0.228/LoggingLibrary"/>
  </ConnectionStrings>
</ConfigItem>