<?xml version="1.0" encoding="utf-8"?>
<ConfigItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<FileGroups>
		<FileGroup name="group1">
			<StorageServers>
				<StorageServer domainName="http://192.168.0.229" address="192.168.0.229"/>
				<StorageServer domainName="http://192.168.0.230" address="192.168.0.230"/>
			</StorageServers>
		</FileGroup>
	</FileGroups>
	<TrackerServers>
		<TrackerServer domainName="http://192.168.0.231" address="192.168.0.231" port="22122" />
	</TrackerServers>
</ConfigItem>
