<?xml version="1.0"?>
<ConfigItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ConnectionStringGroups>
    <!--系统会根据ConnectionStringGroup找到相关的读写库-->
    <ConnectionStringGroup name="User">
      <!--配置写库连接字符串: dbType的值为SqlServer或者MySql，注意大小写-->
      <WriteConnectionString dbType="MySql" value="Server=192.168.0.22;Database=ejabberd;Uid=root;Pwd=password;pooling=false;charset=utf8"/>
      <!--配置读库连接字符串-->
      <ReadConnectionString dbType="MySql" value="Server=192.168.0.22;Database=ejabberd;Uid=root;Pwd=password;pooling=false;charset=utf8"/>
    </ConnectionStringGroup>
    <ConnectionStringGroup name="Log">
      <!--配置写库连接字符串-->
      <WriteConnectionString dbType="MySql" value="Server=192.168.0.22;Database=ejabberd;Uid=root;Pwd=password;pooling=false;charset=utf8"/>
      <!--配置读库连接字符串-->
      <ReadConnectionString dbType="MySql" value="Server=192.168.0.22;Database=ejabberd;Uid=root;Pwd=password;pooling=false;charset=utf8"/>
    </ConnectionStringGroup>
  </ConnectionStringGroups>
</ConfigItem>