<?xml version="1.0" encoding="utf-8" ?>
<ConfigItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	 isEnabled="true" retryCount="3" timeOut="3000"
					  url="http://localhost:1980/">
  <Subscribers>
    <Subscriber exchange="User" queue="my_queue" topic="User.*" publisher="User_Host"/>
  </Subscribers>
  <Publisher name="User_Host">
    <ConnectionProperties>
      <Property name="host" value="host" />
      <Property name="virtualHost" value="virtualHost" />
    </ConnectionProperties>
  </Publisher>
</ConfigItem>